#map {
    overflow-x: hidden;
    position: relative;
    height: 100%;
    margin-top: 40px;
}

#graph {
    position: relative;
}

rect.background {
    fill: whitesmoke;
}

.unit {
    fill: #878787;
    stroke: #505050;
}

.unit.no-data {
    fill: #9e9e9e;
    stroke: #000000;
}


.unit.active {
   
}

.play-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

div.footer-controls {
    position: absolute;
    bottom: 20px;
    width : calc(100% - 30px);
    padding: 6px 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #0074ac;
    color: white;
    border-radius: 3px;

    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

div.footer-controls .popover {
    color: #0577ab;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}

div.footer-controls .popover .popover-content { 
    padding: 2px 15px;
    font-size: 18px;
    font-weight: bold;
}

div.footer-controls span.d3-slider {
    display: inline-block;
    background-color: #2d98c0;
    width: calc(100% - 160px);
    margin-left: 15px;
    height: 3px;
    border: none;
    margin-bottom: 3px;
}

div.footer-controls span.d3-slider .d3-slider-handle {
    border-radius: 10px;
    border: 2px solid white;
    background: initial;
    background-color: #309bbb;
    top: -8px;
}

div.footer-controls .timeline-value {
    font-size: 12px;
}

div.footer-controls .timeline-value.min {
    margin-left: 10px;
}

div.footer-controls .timeline-value.max {
    margin-left: 15px;
}

.header-controls {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    width: 50%;
    right: 0;
}

.header-controls .select2.select2-container {
    float: right;
    width: 100% !important;
}

.header-controls .select2.select2-container.select2-container--open {
    float: right;
    width: 100% !important;
}


.map-typeahed--dropdown {
    
}

#typeahead {
    width: 50%;
}

path.grayout {
    fill: #878787 !important;
}

.chart-buttons {
    position: absolute;
    left: 20px;
}

.chart-buttons button {
    display: block;
    margin-top: 10px;
    font-size: 24px;
}

/* zoom */
.zoom-buttons {
    position: absolute;
    bottom: 80px;
    right: 15px;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);

    z-index: 3;
}

.zoom-buttons i {
    display: block;
    font-size: 18px;
}

div#zoom-slide {
    display: block;
    width: 2px;
    left: 6px;
    position: relative;
    bottom: initial;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
}

div#zoom-slide a.d3-slider-handle {
    border-radius: 10px;
    left: -8px;
    background: #0074ac;
    
}

.legend-panel {
    position: absolute;
    right: 18px;
    bottom: 195px;
    border-radius: 3px 3px 3px 3px;

    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.legend-panel .legend-color {
    height: 35px;
    width: 20px;
    border: 1px solid white;
}

.legend-panel .legend-color:first-child {
    border-radius: 3px 3px 0 0;
}

.legend-panel .legend-color:last-child {
    border-radius: 0 0 3px 3px;
}



.timeline-text {
    width: 39px;
    display: inline-block;
}

.select2-dropdown {
    top: 5px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 20px;
}