.navbar {
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar .title-page {
  font-size: 24px;
  color: black;
  line-height: 80px;
}

.navbar.fraser-navbar .navbar-nav li a {
  padding: 10px;
  color: darkgray;
  font-size: 12px;
}



.navbar.fraser-navbar .bottom-navbar .navbar-nav li a {
  padding: 10px;
  color: #565656;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.navbar.fraser-navbar .bottom-navbar .navbar-nav li.active {
  border-bottom : 2px solid #0a7ab0;
  
}

.navbar.fraser-navbar .bottom-navbar .navbar-nav li.active a{
  color: #0a7ab0;
}

.navbar.fraser-navbar .navbar-form {
  margin-bottom: 0;
}

.navbar .bottom-navbar .navbar-nav {
  margin-left: 0;
  margin-right: 0;
}

.navbar .bottom-navbar {
  clear: both;
  float: right;
  margin-left: 0;
  margin-right: 0;
}


.share-block {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}

.share-block  .social-icons i {
    font-size: 25px;
}

