.sidenav .nav.nav-pills.nav-justified li a {
  background-color: whitesmoke;
  color: black;
}

.sidenav .nav.nav-pills.nav-justified li.active a {
  background-color: white;
  color: black;
}

.sidenav .tab-pane {
  padding: 10px;
}

.label {
  font-size: 15px;
}
.label.label-most-free {
  background-color: #00bbbc;
}
.label.label-2nd-quart{
  background-color: #b8d051;
}
.label.label-3rd-quart {
  background-color: #fcab4a;;
}
.label.label-least-free {
  background-color: #ee3b58;;
}

.color-most-free .rank, .color-most-free .value {
  color: #00bbbc;
}
.color-2nd-quart .rank, .color-2nd-quart .value {
  color: #b8d051;
}
.color-3rd-quart .rank, .color-3rd-quart .value {
  color: #fcab4a;
}
.color-least-free .rank, .color-least-free .value {
  color: #ee3b58;
}

.country-info--item {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;

  margin-bottom: 10px;

  border-radius: 3px;

  -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.country-info--item .row {
  margin-left: 0;
  margin-right: 0;
}

.country-info--item .article-title {
  display: table-cell;
  
  height: 70px;
  width: 100%;
  color: darkgray;
  font-size: 14px;
  vertical-align: bottom;
  text-align: center;

  padding-bottom: 10px;
}

.country-info--item .article-value {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}